:root {
    --main-title-color: #ff893b;
    --extra-title-color: #ffffff;
    --main-text-color: #000000;
    --extra-text-color: #ffffff;
    --button-color: #1f5bff;
    --accent-color: red;
    --icon-color: #ff6800;
    --timing: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

html{
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--main-text-color);
    letter-spacing: 0.03em;
    position: relative;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
}



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: opacity 500ms;
}


.popup {
  margin: 10px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  max-width: fit-content;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup .content {
    text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: var(--icon-color);
}
@media screen and (max-width: 767px) {
    .container {
        max-width: 425px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }

    .desktop-wrapper {
        display: none;
    }

    .header {
        height: 100%;
        padding: 15px 0;
    }

    .mob-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .mob-wrapper-logo {
        min-width: 170px;
    }

    .open-btn {
        border: none;
        background-color: transparent;
    }

    .header-burger-icon-open {
        fill: var(--icon-color);
    }

    .mob-menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        background-image: linear-gradient(
                rgba(4, 4, 4, 0.4),
                rgba(4, 4, 4, 0.4)
            ),
           url(../images/home-blank/header/bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 0;
        left: 0;
        padding: 10px 15px;
    }

    .close-btn {
        border: none;
        background-color: transparent;
        margin-left: 85%;
        margin-top: 10px;
    }

    .header-burger-icon-close {
        fill: var(--extra-text-color);
    }

    .header-list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .header-item-link {
        padding: 10px;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        color: var(--extra-text-color);
        text-transform: uppercase;
    }

    .current {
        color: var(--icon-color);
    }

    .social-wrapper {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-socials-item {
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .header-socials-link {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: var(--extra-text-color);
        border-radius: 50%;
    }

    .header-socials-icon {
        fill: var(--icon-color);
    }

    /* HERO */

    .hero {
        height: auto;
        background-image: linear-gradient(
                rgba(4, 4, 4, 0.3),
                rgba(4, 4, 4, 0.3)
            ),
            url(../images/defence-blank/hero/bg-mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        text-align: center;
        padding-top: 40px;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        color: var(--extra-title-color);
    }

    .hero-list {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-item:not(:last-child) {
        margin-bottom: 5px;
    }

    .hero-text {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: var(--extra-text-color);
    }

    .hero-button {
        margin-bottom: 40px;
        padding: 15px 20px;
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: var(--extra-text-color);
        background-color: var(--icon-color);
        cursor: pointer;
    }

    .hero-button-link {
        color: var(--extra-text-color);
    }

    /* SELL TEXT */
    .sell {
        margin-top: 50px;
    }

    .sell-title {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }

    .sell-text-wrapper {
        padding: 20px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .sell-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .sell-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .sell-text-item {
        margin-left: 20px;
    }

    .sell-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    /* SOLUTION */
    .solution {
        margin-top: 50px;
    }

    .solution-title {
        padding-top: 20px;
        text-align: center;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: var(--main-title-color);
    }

    .solution-list {
        display: flex;
        flex-direction: column;
    }

    .solution-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .solution-item {
        display: flex;
        flex-direction: column;
    }

    .solution-item-title {
        padding-top: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: var(--main-title-color);
    }

    .solution-item-image {
        border-radius: 20px;
        box-shadow: rgba(23, 23, 25, 0.4) 0px 7px 29px 0px;
        margin: 30px auto;
    }

    .solution-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .solution-item-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .solution-item-text-item {
        margin-left: 20px;
    }

    .solution-item-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    /* PRICE */
    .price {
        margin-top: 50px;
    }

    .price-title {
        padding-top: 20px;
        text-align: center;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: var(--main-title-color);
    }

    .price-list {
        display: flex;
        flex-direction: column;
    }

    .price-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .price-item {
        display: flex;
        flex-direction: column;
    }

    .price-item-title {
        padding-top: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: var(--main-title-color);
    }

    .price-item-image {
        border-radius: 20px;
        box-shadow: rgba(23, 23, 25, 0.4) 0px 7px 29px 0px;
        margin: 30px auto;
    }

    .price-item-text {
        margin-top: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .price-item-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .price-item-text-item {
        margin-left: 20px;
    }

    .price-item-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .price-item-link-wrapper {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price-item-link {
        padding: 10px 15px;
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: var(--extra-text-color);
        background-color: var(--icon-color);
        cursor: pointer;
    }

    .price-item-link:hover,
    .price-item-link:focus {
        background-color: var(--button-color);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .price-text {
        margin-top: 30px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    /* CONTACT FORM */

    .contacts {
        margin-top: 50px;
        background-color: #faac46;
    }

    .contact-title {
        padding-top: 20px;
        text-align: center;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: var(--extra-title-color);
    }

    .contact-title-part {
        color: #ff6a28;
        font-weight: 700;
        font-size: 36px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-form-input {
        border-radius: 10px 0px 10px 10px;
        width: 100%;
        height: 40px;
        padding: 10px;
        border: none;
        outline: none;
    }

    .contact-form-input:not(:last-child) {
        margin-bottom: 15px;
    }

    .contact-form-input::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #c4c4c4;
    }

    .contact-form-button {
        margin: 0;
        padding: 19px 23px;
        background: var(--icon-color);
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--extra-text-color);
        cursor: pointer;
        margin-bottom: 30px;
    }

    /* FOOTER */
    .footer {
        margin-top: 50px;
    }

    .footer-content-wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .footer-nav-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-image {
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
    }

    .footer-list {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .footer-item {
        display: flex;
        align-items: center;
    }

    .footer-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .footer-link {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .footer-item-icon {
        margin-right: 10px;
        fill: var(--icon-color);
    }

    .footer-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .footer-nav-list {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-nav-item:not(:last-child) {
        margin-bottom: 15px;
    }

    .footer-nav-item-link {
        padding: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .current {
        color: var(--icon-color);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container {
        max-width: 768px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }

    .desktop-wrapper {
        display: none;
    }

    .header {
        height: 100%;
        padding: 15px 0;
    }

    .mob-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .mob-wrapper-logo {
        min-width: 170px;
    }

    .open-btn {
        border: none;
        background-color: transparent;
    }

    .header-burger-icon-open {
        fill: var(--icon-color);
    }

    .mob-menu {
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 999;
        background-image: linear-gradient(
                rgba(4, 4, 4, 0.4),
                rgba(4, 4, 4, 0.4)
            ),
            url(../images/home-blank/header/bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 0;
        left: 0;
        padding: 10px 15px;
    }

    .close-btn {
        border: none;
        background-color: transparent;
        margin-left: 85%;
        margin-top: 10px;
    }

    .header-burger-icon-close {
        fill: var(--extra-text-color);
    }

    .header-list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .header-item-link {
        padding: 10px;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        color: var(--extra-text-color);
        text-transform: uppercase;
    }

    .current {
        color: var(--icon-color);
    }

    .social-wrapper {
        margin-top: 40px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .header-socials-item {
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .header-socials-link {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: var(--extra-text-color);
        border-radius: 50%;
    }

    .header-socials-icon {
        fill: var(--icon-color);
    }

    /* HERO */

    .hero {
        height: auto;
        background-image: linear-gradient(
                rgba(4, 4, 4, 0.3),
                rgba(4, 4, 4, 0.3)
            ),
             url(../images/defence-blank/hero/bg-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        text-align: center;
        padding-top: 60px;
        margin-bottom: 60px;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: var(--extra-title-color);
    }

    .hero-list {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-item:not(:last-child) {
        margin-bottom: 5px;
    }

    .hero-text {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: var(--extra-text-color);
    }

    .hero-button {
        margin-bottom: 60px;
        padding: 15px 20px;
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: var(--extra-text-color);
        background-color: var(--icon-color);
        cursor: pointer;
    }

    .hero-button-link {
        color: var(--extra-text-color);
    }

    /* SELL TEXT */
    .sell {
        margin-top: 50px;
    }

    .sell-title {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }

    .sell-text-wrapper {
        padding: 25px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .sell-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .sell-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .sell-text-item {
        margin-left: 20px;
    }

    .sell-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    /* SOLUTION */
    .solution {
        margin-top: 50px;
    }

    .solution-title {
        padding-top: 20px;
        text-align: center;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: var(--main-title-color);
    }

    .solution-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .solution-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .solution-item {
        width: 600px;
        display: flex;
        flex-direction: column;
    }

    .solution-item-title {
        padding-top: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: var(--main-title-color);
    }

    .solution-item-image {
        border-radius: 20px;
        box-shadow: rgba(23, 23, 25, 0.4) 0px 7px 29px 0px;
        margin: 30px auto;
    }

    .solution-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .solution-item-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .solution-item-text-item {
        margin-left: 20px;
    }

    .solution-item-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    /* PRICE */
    .price {
        margin-top: 50px;
    }

    .price-title {
        padding-top: 20px;
        text-align: center;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: var(--main-title-color);
    }

    .price-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .price-item:not(:last-child) {
        margin-bottom: 40px;
    }

    .price-item {
        width: 600px;
        display: flex;
        flex-direction: column;
    }

    .price-item-title {
        padding-top: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: var(--main-title-color);
    }

    .price-item-image {
        border-radius: 20px;
        box-shadow: rgba(23, 23, 25, 0.4) 0px 7px 29px 0px;
        margin: 30px auto;
    }

    .price-item-text {
        margin-top: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .price-item-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .price-item-text-item {
        margin-left: 20px;
    }

    .price-item-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .price-item-link-wrapper {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price-item-link {
        padding: 10px 15px;
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: var(--extra-text-color);
        background-color: var(--icon-color);
        cursor: pointer;
    }

    .price-item-link:hover,
    .price-item-link:focus {
        background-color: var(--button-color);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .price-text {
        margin-top: 30px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    /* CONTACT FORM */

    .contacts {
        margin-top: 50px;
        background-color: #faac46;
    }

    .contact-title {
        padding-top: 30px;
        text-align: center;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: var(--extra-title-color);
    }

    .contact-title-part {
        color: #ff6a28;
        font-weight: 700;
        font-size: 36px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-form-input {
        border-radius: 10px 0px 10px 10px;
        width: 600px;
        height: 60px;
        padding: 10px;
        border: none;
        outline: none;
    }

    .contact-form-input:not(:last-child) {
        margin-bottom: 20px;
    }

    .contact-form-input::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
        color: #c4c4c4;
    }

    .contact-form-button {
        margin-top: 20px;
        padding: 19px 23px;
        background: var(--icon-color);
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--extra-text-color);
        cursor: pointer;
        margin-bottom: 30px;
    }

      /* FOOTER */
    .footer {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .footer-content-wrapper {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-nav-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .footer-image {
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
    }

    .footer-list {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .footer-item {
        display: flex;
        align-items: center;
    }

    .footer-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .footer-link {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .footer-item-icon {
        margin-right: 10px;
        fill: var(--icon-color);
    }

    .footer-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .footer-nav-list {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .footer-nav-item-link {
        padding: 10px 0;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .current {
        color: var(--icon-color);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
    }

    .mob-wrapper {
        display: none;
    }

    .header {
        height: 100%;
        padding: 15px 0;
    }

    .desktop-wrapper {
        display: flex;
    }

    .main-navigation {
        display: flex;
        margin-right: 40px;
    }

    .header-logo {
        margin-right: 40px;
    }

    .header-logo-img {
        min-width: 170px;
    }

    .header-list {
        display: flex;
        align-items: center;
    }

    .header-item:not(:last-child) {
        margin-right: 24px;
    }

    .header-item-link {
        padding: 10px 0;
        cursor: pointer;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: var(--main-text-color);
        text-transform: uppercase;
    }

    .current {
        color: var(--icon-color);
    }

    .social-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-socials-item {
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .header-socials-link {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--icon-color);
    }
    /* HERO */

    .hero {
        height: auto;
        background-image: linear-gradient(
                rgba(4, 4, 4, 0.3),
                rgba(4, 4, 4, 0.3)
            ),
            url(../images/defence-blank/hero/bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .hero-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        text-align: center;
        padding-top: 70px;
        margin-bottom: 120px;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        color: var(--extra-title-color);
    }

    .hero-list {
        margin-bottom: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-item:not(:last-child) {
        margin-bottom: 15px;
    }

    .hero-text {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        color: var(--extra-text-color);
    }

    .hero-button {
        margin-bottom: 70px;
        padding: 15px 20px;
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        color: var(--extra-text-color);
        background-color: var(--icon-color);
        cursor: pointer;
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: var(--button-color);
    }

    .hero-button-link {
        color: var(--extra-text-color);
    }

    /* SELL TEXT */
    .sell {
        margin-top: 50px;
    }

    .sell-title {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
    }

    .sell-text-wrapper {
        padding: 40px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    .sell-text {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        color: var(--main-text-color);
    }

    .sell-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .sell-text-item {
        margin-left: 20px;
    }

    .sell-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        color: var(--main-text-color);
    }

    /* SOLUTION */
    .solution {
        margin-top: 50px;
    }

    .solution-title {
        padding-top: 20px;
        text-align: center;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: var(--main-title-color);
    }

    .solution-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .solution-item {
        min-width: 340px;
        width: 340px;
        display: flex;
        flex-direction: column;
    }

    .solution-item-title {
        padding-top: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: var(--main-title-color);
    }

    .solution-item-image {
        border-radius: 20px;
        box-shadow: rgba(23, 23, 25, 0.4) 0px 7px 29px 0px;
        margin: 30px auto;
    }

    .solution-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .solution-item-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .solution-item-text-item {
        margin-left: 20px;
    }

    .solution-item-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }
    /* PRICE */
    .price {
        margin-top: 50px;
    }

    .price-title {
        padding-top: 20px;
        text-align: center;
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        color: var(--main-title-color);
    }

    .price-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .price-item {
        min-width: 340px;
        width: 340px;
        display: flex;
        flex-direction: column;
    }

    .price-item-title {
        padding-top: 20px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 36px;
        color: var(--main-title-color);
    }

    .price-item-image {
        border-radius: 20px;
        box-shadow: rgba(23, 23, 25, 0.4) 0px 7px 29px 0px;
        margin: 30px auto;
    }

    .price-item-text {
        margin-top: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .price-item-text-list {
        display: flex;
        flex-direction: column;
        list-style: disc;
    }

    .price-item-text-item {
        margin-left: 20px;
    }

    .price-item-text-item-text {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    .price-item-link-wrapper {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .price-item-link {
        padding: 10px 15px;
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: var(--extra-text-color);
        background-color: var(--icon-color);
        cursor: pointer;
    }

    .price-item-link:hover,
    .price-item-link:focus {
        background-color: var(--button-color);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .price-text {
        margin-top: 30px;
        text-align: center;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: var(--main-text-color);
    }

    /* CONTACT FORM */

    .contacts {
        margin-top: 50px;
        background-color: #faac46;
    }

    .contact-title {
        padding-top: 30px;
        text-align: center;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 36px;
        color: var(--extra-title-color);
    }

    .contact-title-part {
        color: #ff6a28;
        font-weight: 700;
        font-size: 40px;
    }

    .contact-form {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 40px;
    }

    .contact-form-input {
        border-radius: 10px;
        width: 420px;
        height: 60px;
        padding: 10px;
        border: none;
        outline: none;
    }

    .contact-form-input::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 24px;
        color: #c4c4c4;
    }

    .contact-form-button {
        padding: 19px 23px;
        background-color: var(--icon-color);
        border-radius: 70px;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: var(--extra-text-color);
        cursor: pointer;
    }

    .contact-form-button:hover,
    .contact-form-button:focus {
        background-color: var(--button-color);
    }

    /* FOOTER */
    .footer {
        margin-top: 50px;
        padding-left: 10px;
        padding-bottom: 50px;
    }

    .footer-content-wrapper {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .footer-nav-wrapper {
        display: flex;
        justify-content: space-around;
    }

    .footer-image {
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
    }

    .footer-list {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .footer-item {
        display: flex;
        align-items: center;
    }

    .footer-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .footer-link {
        display: flex;
        align-items: center;
        cursor: pointer;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .footer-item-icon {
        margin-right: 10px;
        fill: var(--icon-color);
    }

    .footer-text {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .footer-nav-list {
        margin-left: 30px;
        display: flex;
        align-items: center;
    }

    .footer-nav-item:not(:last-child) {
        margin-right: 15px;
    }

    .footer-nav-item-link {
        padding: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
        color: var(--main-text-color);
    }

    .current {
        color: var(--icon-color);
    }
}
